<?xml version="1.0" encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="franka_softhand">

  <xacro:macro name="franka_robot" params="arm_id joint_limits">
    <!-- Name of this panda -->
    <!-- Should a franka_gripper be mounted at the flange?" -->
    <xacro:arg name="hand" default="false" />
    <!-- Positional offset between $(arg arm_id)_hand -> $(arg arm_id)_hand_tcp [m]. Only used when hand:=true -->
    <xacro:arg name="tcp_xyz" default="0 0 0.1034" />
    <!-- Rotational offset between $(arg arm_id)_hand -> $(arg arm_id)_hand_tcp [rad]. Only used when hand:=true -->
    <xacro:arg name="tcp_rpy" default="0 0 0" />
    <!-- Is the robot being simulated in gazebo?" -->
    <xacro:arg name="gazebo" default="false" />

    <xacro:include filename="$(find franka_description)/robots/common/utils.xacro" />
    <xacro:include filename="$(find franka_description)/robots/common/franka_arm.xacro" />
    <xacro:include filename="$(find softhands_description)/urdf/softhands.xacro"/>

    <xacro:franka_arm arm_id="$(arg arm_id)" safety_distance="0.03" gazebo="$(arg gazebo)" joint_limits="${joint_limits}"/>

    <xacro:if value="$(arg hand)">
		<xacro:include filename="$(find softhands_description)/urdf/xacro/include/macro/v1_2_research/header.xacro"/>
		<xacro:include filename="$(find softhands_description)/urdf/xacro/v1_2_research.xacro"/>
		<!-- HAND LINK -->
		<joint name="right_hand_ee_joint" type="fixed">
			<origin xyz="0.130 0.000 0.035" rpy="0 0 0"/>
			<parent link="$(arg arm_id)_link8" />
			<child link="right_hand_ee_link" />
		</joint>	
		<link name="right_hand_ee_link">
		</link>

		<!-- RIGHT SOFTHAND -->
		<!-- <xacro:flange_macro parent="$(arg arm_id)_link8" name="flange">
			<origin rpy="0 0 0" xyz="0 0 0.04"/>         
		</xacro:flange_macro> -->
			
		<!-- <xacro:softhands type="right" 
			version = "v1.0_simple"
			parent = "$(arg arm_id)_link8"
			position ="0.05 -0.00 0.04"
			orientation ="0 -1.57 3.14" 
			operation_mode = "0"
			translation="0.0">
		</xacro:softhands> -->
		<xacro:v1_2_research
			side = "right"
			parent = "$(arg arm_id)_link8"
			position ="0 0 0"
			orientation ="0 0 0"
			fixed_hands="false">
		</xacro:v1_2_research>
	</xacro:if>

    <!-- Define additional Gazebo tags -->
    <xacro:if value="$(arg gazebo)">

      <xacro:arg name="xyz" default="0 0 0" />
      <xacro:arg name="rpy" default="0 0 0" />

      <!-- Gazebo requires a joint to a link called "world" for statically mounted robots -->
      <link name="world" />
      <joint name="world_joint" type="fixed">
        <origin xyz="$(arg xyz)" rpy="$(arg rpy)" />
        <parent link="world" />
        <child  link="$(arg arm_id)_link0" />
      </joint>

      <xacro:gazebo-joint joint="$(arg arm_id)_joint1" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint2" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint3" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint4" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint5" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint6" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint7" transmission="hardware_interface/PositionJointInterface" />

      <xacro:gazebo-joint joint="$(arg arm_id)_joint1" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint2" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint3" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint4" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint5" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint6" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint7" transmission="hardware_interface/VelocityJointInterface" />

      <xacro:gazebo-joint joint="$(arg arm_id)_joint1" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint2" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint3" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint4" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint5" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint6" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="$(arg arm_id)_joint7" transmission="hardware_interface/EffortJointInterface" />

      <xacro:transmission-franka-state arm_id="$(arg arm_id)" />
      <xacro:transmission-franka-model arm_id="$(arg arm_id)"
         root="$(arg arm_id)_joint1"
         tip="$(arg arm_id)_joint8"
       />


      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <controlPeriod>0.001</controlPeriod>
          <robotSimType>franka_gazebo/FrankaHWSim</robotSimType>
        </plugin>
        <self_collide>true</self_collide>
      </gazebo>
    </xacro:if>
  </xacro:macro>
  
</robot>

